/* general styling */
@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}
:root{
    font-family: norse, Arial, Helvetica, sans-serif;
    --page-height: 100vw;
}
body{
    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    margin: 20px;
    font-size: 2rem;
}
/* sidebar style */
aside{
    grid-area: aside;
    display: grid;
    grid-template-areas: repeat(3, calc(1/3*100vh));
}
#background{
    width: 100%;
    grid-row: 1/3;
    object-fit: cover;
    overflow: hidden;
}
#icon{
    background-color:hsla(0, 0%, 0%, .58);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    height: 50%;
}
#odin{
    height: 50%;
}
/* sign up form */
div>*{
    display: flex; 
    flex-direction: column;
}
.form{
    display: grid;
    grid-template-areas: 
    "first last"
    "email phone"
    "password confirm";
    justify-content: start;
}
.first-name-container{
    grid-area: first;
}
.last-name-container{
    grid-area: last;
}
.email-container{
    --page-height: 100vw;
}
.confirm-password-container{
    grid-area: confirm;
}