*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --spacing: 1rem;
}
body{
  height: 100vh;
  --header: 8%;
  --content: calc(100% - var(--header));
}
header{
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: var(--header);
}
button{
  color: white;
  background-color: navy;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 4rem;
}
button:hover{
  background-color: darkblue;
}
button:active{
  background-color: mediumblue;
}
#content{
  justify-items: center;
  height: var(--content);
  --image-carousel: 80%;
  --info: calc(100% - var(--image-carousel) - calc(2 * var(--spacing)));
}
.image-carousel{
  width: 100%;
  height: var(--image-carousel);
}
.card{
  margin-top: calc(var(--spacing) / 2);
  padding-right: calc(var(--spacing) * 3);
  width: 500px;
  height: 100%;
}
.info{
  display: flex;
  height: var(--info);
}
.menu-page{
  margin-top: calc(var(--spacing) / 2);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.appetizers, .mains, .drinks{
  width: 30%;
  padding: var(--spacing);
}
.item>h5{
  display: flex;
  justify-content: space-between;
}
.about-page{
  width: 55%;
}

