/* general style */
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Segs styling */
.segs{
    display: flex;
    justify-content: center;
    gap: 5px;
    border: 2px solid;
    padding: .5em 3em;
    margin: auto;
    margin-bottom: 1em;
}
.input{
    height: 100px;
    width: 60px;
    text-align: center;
}
button{
    padding: .5em 3em;
}

/* numpad style */
.numpad{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}
.numbers{
    display: flex;
    flex-direction: column;
}

/* operator style */
.functions{
    display: flex;
    flex-direction: column;
}
