/* general styling */
.container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
body{
    text-align: center;
}

/* grid styling */

div{
    box-sizing: border-box;
    /* etch-a-sketch sizing */
    min-width: 60px;
    min-height: 60px;
    border: 1px dotted black;
}
.drawn{
    background-color: black;
}