/* general styling */
.container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
body{
    text-align: center;
}

/* grid styling */
div{
    box-sizing: border-box;

    border: 1px dotted black;
    /* etch-a-sketch sizing */
    min-width: 30px;
    min-height: 30px;
}
.drawn{
    background-color: black;
}

/* reset button */
.reset{
    padding: 1em 8em;
    margin: 3em;
}