/* general styling */
.container{
    width: 500px;
    height: 500px;
    justify-self: center;
    border: 3px solid;
    display: flex;
}
body{
    text-align: center;
}

/* grid styling */
div{
    box-sizing: border-box;
    border: 1px dotted black;
    width: 100%;
}

.drawn{
    background-color: black;
}

/* reset button */
.reset{
    padding: 1em 8em;
    margin: 3em;
}